*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*page 1*/
.top-bar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-height: 100px;
}

.top-bar h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-left: 150px;
    font-weight: 800;
}    

.top-nav {
    margin-right: 150px;
}

.top-nav li{
    list-style: none;
    display: inline-block;
}

.top-nav a{
    color: black;
    font-size: 24px;
    text-decoration: none;
    padding: 0 20px;
    padding: 10px 25px;
    border-radius: 50px;
}

.top-nav .links:hover{
    background-color: #f4d160;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.5s;
}

.top-nav button{
    background-color: #f4d160;
    padding: 10px 25px;
    border-radius: 50px;
    border: 2px solid #f4d160;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.top-nav button:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #f4d160;
    transition: 0.5s;
}

.page-1 {
    background-color: #f4d160;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
}

.page-1 h1{
    font-size: 60px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif ;
    text-shadow: 3px 3px rgb(73, 73, 73);
}

.page-1 p{
    font-size: 24px;
    padding-top: 10px;
}

.page-1 img:hover{
    transform: rotate(-10deg); 
    transition: 1s;
}

/*page 2*/
.page-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 82, 122);
    padding: 0 100px;
}

.page-2 .content .head{
    color: #f4d160;
    font-weight: bold;
}

.page-2 h1{
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-shadow: 3px 3px rgb(73, 73, 73);
}

.page-2 .content .text{
    color: #fbeeac;
}

.page-2 img:hover{
    transform: rotate(-10deg); 
    transition: 1s;
}

/*page 3*/
.page-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 125px;
}

.page-3 .content .head{
    color: #f4d160;
    font-weight: bold;
    font-size: 18px;
}

.page-3 h1{
    color: black;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-shadow: 3px 3px rgb(100, 100, 100);
    line-height: 45px;
}

.page-3 .content .text{
    color: #fbeeac;
    margin-top: 20px;
}

.page-3 img:hover{
    transform: rotate(-10deg); 
    transition: 1s;
}


/*price columns*/
.prices{
    font-family: Arial, Helvetica, sans-serif;
}

.prices h1{
    margin-bottom: 10px;
}

.price-sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10% 5% 10%;
}

.prices h1{
    color: black;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-shadow: 3px 3px rgb(100, 100, 100);
    text-align: center;
    margin-top: 50px;
}

.box{
    background-color: #28527a;
    height: 500px;
    width: 275px;
    text-align: center;
    color: #fff;
    box-shadow: 8px 8px 4px rgb(0 0 0 / 25%);
    margin: 0 10px;
}

.box h2{
    padding-top: 50px;
    font-weight: bold;
}

.box h1{
    color: #f4d160;
    font-size: 48px;
    line-height: 10px;
    font-weight: 800;
    margin-top: 18px;
    margin-bottom: 45px;
    text-shadow: 3px 3px rgb(0, 0, 0);
}

.box hr{
    margin: 0 auto;
    width: 30%;
}

.box p{
    width: 70%;
    margin: 20px auto;
}

.box button{
    background-color: #f4d160;
    border: 2px solid #f4d160;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.box button:hover{
    background-color: #28527a;
    border: 2px solid #f4d160;
    color: #000;
    transition: 0.5s;
}

/*Contact Us*/
.contact{
    background-color: #28527a;
    padding-bottom: 50px;
}

.contact h1{
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-shadow: 3px 3px rgb(0, 0, 0);
    text-align: center;
    padding: 40px 0;
}

.contact-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10% 0 15%;
}

.info {
    text-align: center;
}

.info p{
    margin-bottom: 40px;
}

.info i{
    margin-bottom: 40px;
}

.contact-box .info {
    color: #fff;
}

form {
    text-align: left;
}

input{
    background-color: rgba(61,98,127,.4);
    color: #fff;
    display: flex;
    margin-top: 20px;
    width: 500px;
    height: 26px;
    font-size: 18px;
    border: none;
}

textarea{
    background: rgba(61,98,127,.4);
    display: flex;
    width: 500px;
    height: 250px;
    font-size: 18px;
    border: none;
    resize: none;
    margin: 20px 0;

}

.submit {
    background-color: #f4d160;
    color: #fff;
    text-align: center;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 24px;
}

footer{
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}